<h1> store search </h1>
<% @stores.each do |store| %>
  <ul id="store">
    <li><%= store.name %> </li>
    <li><%= store.city %> </li>
    <li><%= store.description %> </li>
    <li><%= store.distance %> </li>
    <li><%= store.phone_number %> </li>
    <li><%= store.type %> </li>
  </ul>
<% end %>